.footer {
  display: flex;
  justify-content: space-between;

  &__lists {
    display: flex;
    padding: 0 0 0 45px;
    border-left: 1px solid #c3c3c3;
    list-style-type: none;

  }

  &__list {
    margin-right: 45px;
    display: flex;
    align-items: center;
  }

  &__link {
    font-size: 13px;
    color: #c3c3c3;
    line-height: 1.385;
    text-align: left;
    margin-left: 8px;
  }

  &__img {
    width: 15px;
    height: 15px;
  }

  &__text {
    font-size: 13px;
    color: #ffffff;
    line-height: 1.077;
    text-align: left;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .footer {
    flex-direction: column;
    align-items: center;

    &__lists {
      border-left: none;
    }
  }
}
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: center;

    &__lists {
      padding-left: 0;
    }

    &__list {
      margin-right: 20px;
    }
  }
}
